/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* I prompted chatGPT to give me a banner's css to make it span the whole page
   and make text in that banner have a LOTR like style.*/

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20vh 1vh auto;
  grid-template-areas:
      "header header"
      "nav nav"
      "gamearea gamearea";
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: auto;
        grid-template-rows: 10vh auto 5vh;
        grid-template-areas:
            "header"
            "gamearea"
            "nav";
        overflow: auto;
    }

    breadcrumbs {
      position: fixed; 
      bottom: 0;
      right: 0;
      margin-bottom: 2%;
      z-index: 1000;
      width: auto;
    }
}

.card {
  padding: 2em;
}
